@-webkit-keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

body {
  background-color: #d4d4d4;
}

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

@font-face {
  font-family: 'title';
  src: url("font/Superclarendon Regular.ttf");
}

body {
  font-family: 'title';
}

.card {
  background-color: #d4d4d4;
  border-radius: 25px;
  -webkit-box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
          box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
  margin: 5%;
}

.card h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 40px;
}

.card a {
  font-size: 1.8rem;
}

.card-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
          box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
  border-radius: 25px 25px 0 0;
}

.card-banner .rotaxmax {
  padding: 10px;
  -webkit-box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
          box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
}

.card-banner .rotaxmax img {
  border-radius: 15px 0;
  -webkit-box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
          box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
  height: 100px;
  margin: 10px;
}

.card-banner .rotaxmax_left {
  border-radius: 25px 0 0;
}

.card-banner .rotaxmax_right {
  border-radius: 0 25px 0 0;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 20px;
  background-color: #d4d4d4;
  -webkit-box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
          box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
  padding: 2px 0;
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 5px 5px 20px #070707;
}

h1 .first_letter {
  color: #FCEA08;
  font-size: 3.5rem;
}

.ask-logo img {
  margin-top: 15px;
  width: 158px;
  height: 100px;
}

.ask-logo_left {
  margin-right: 50px;
  margin-left: 5px;
}

.ask-logo_right {
  margin-left: 50px;
  margin-right: 5px;
}

.ask-presentation-complement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ask-presentation-complement .nation-flag img {
  height: 60px;
}

.ask-presentation-complement h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 5px 5px 20px #070707;
  margin: 8px;
}

.lang-choice {
  text-align: right;
  margin-top: 5px;
  margin-right: 20px;
}

.lang-choice img {
  -webkit-box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
          box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2% 10%;
  background-color: #d4d4d4;
  -webkit-box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
          box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  line-height: 1.5rem;
}

footer a {
  text-decoration: none;
}

img {
  height: 25px;
  margin: 0 10px;
}

#slider {
  height: 320px;
  width: 100%;
  margin-left: 20px;
  -webkit-box-shadow: 5px 5px 25px white;
          box-shadow: 5px 5px 25px white;
  border-radius: 50px;
  max-width: 320px;
  overflow: hidden;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
  left: 0;
  -webkit-animation: 30s slidy infinite;
          animation: 30s slidy infinite;
}

#slider figure img {
  width: auto;
  height: auto;
  float: left;
  margin: 0 0 0 0;
}

/*####################################*\
##########  Partie team         ########
\*####################################*/
.card-team-presentation {
  font-size: 2rem;
  margin-top: 40px;
  padding: 30px;
}

.card-team {
  height: 500px;
}

.card-lien-page {
  text-align: right;
  padding-right: 20px;
}

.card-lien-page a {
  color: black;
  -webkit-box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
          box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
  padding: 15px;
  border-radius: 25px;
}

/*####################################*\
########## FIN Partie team      ########
\*####################################*/
/*####################################*\
##########  Partie competition  ########
\*####################################*/
.card-race {
  height: 600px;
}

.rotaxmax-calendar img {
  height: 320px;
}

.bira-track img {
  height: 320px;
}

.card-race-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-top: 20px;
}

.card-race-body figcaption {
  text-align: center;
  font-size: 1.5rem;
}

.card-race-body figcaption img {
  height: 2rem;
  position: relative;
  top: 10px;
}

/*####################################*\
##########  Fin Partie competition  ####
\*####################################*/
/*####################################*\
########## Partie partenaire        ####
\*####################################*/
.card-partenaires {
  height: 500px;
}

.card-partenaires-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 20px;
}

.partners {
  font-size: 1.8rem;
  text-decoration: underline;
}

/*####################################*\
##########  Fin Partie competition  ####
\*####################################*/
.card-team-page {
  height: 950px;
}

.team-list {
  font-size: 1.5rem;
  margin-top: 2%;
  margin-left: 5%;
}

.team-pictures {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.team-pictures img {
  height: 200px;
  margin: 10px;
  border: solid 2px #505050;
}

.video {
  margin: 20px 0 0 60px;
}

.video iframe {
  border: solid 2px #505050;
  -webkit-box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
          box-shadow: 0 5px 15px #505050, inset 0 5px 15px #505050;
}
/*# sourceMappingURL=main.css.map */