.card{
    background-color:$bg_color;
    border-radius:25px;
    height: auto;
    @include box-shadow-main;
    margin:5%;
    padding-bottom:2rem;
    h2{
        text-align: center;
        font-size:2.5rem;
        font-weight: bold;
        margin-top:40px;
        text-shadow: 5px 5px 20px rgb(7, 7, 7);
    }
    a{
        font-size:1.8rem;
    }
}


.card-banner{
    display:flex;
    justify-content: space-between;
    @include box-shadow-main;
    border-radius:25px 25px 0 0;
    .rotaxmax{
    padding:10px;
    @include box-shadow-main;
        img{
        border-radius:15px 0;
        @include box-shadow-main;
        height:100px;
        margin:10px;
        }
    }
    .rotaxmax_left{
        border-radius:25px 0 0;
            }
    .rotaxmax_right{
        border-radius:0 25px 0 0;
    }
 
    
}