
footer{
    display:flex;
    
    justify-content: space-around;

    margin:5% 3%;
    background-color:$bg_color;
    @include box-shadow-main;
    // @include border-main;
    border-radius:20px;
    
    padding:10px;
    font-weight:bold;
    line-height: 1.5rem;
    a{
        text-decoration:none;
    }
}
img{
    height:25px;
    margin:0 10px;
    
}
