
.banner{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius:20px;
    background-color:$bg_color;
    @include box-shadow-main;
    padding:2px 0;
    margin:0 3%;
    
}

h1{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    // color:rgb(247, 44, 44);
    text-shadow: 5px 5px 20px rgb(7, 7, 7);
    .first_letter{
    color: #e20303;
    font-size:4rem;
    
    }
   
}


.ask-logo{
    img{
         margin-top:15px;
        width:158px;
        height:100px;
    }
    
}
.ask-logo_left{
        margin-right:50px;
        margin-left:5px;
    }
.ask-logo_right{
    margin-left:50px;
    margin-right:5px;
}
.ask-presentation-complement{
    display: flex;
    justify-content: center;
    .nation-flag{
        img{
        height:60px;
        }
    }
    h2{
    font-size:2rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 5px 5px 20px rgb(7, 7, 7);
    margin:8px;
    }
}
.lang-choice{
    text-align:right;
    margin: 15px 40px 10px 0;
    
    img{
        height:2.5rem;
        @include box-shadow-main;
    }
    select{
        height:30px;
        width:80px;
    }
    
    
}