$screen-cel: 375px;

$screen-tablet: 768px;

$screen-lg: 1024px;

$screen-xl: 1440px;

$screen-xxl: 2560px;
@mixin cel {
    @media (max-width: #{$screen-cel}) {
    @content;
    }
}
@mixin tablet {
    @media (min-width: #{$screen-tablet}) {
    @content;
    }
}

@mixin desktop {
    @media (min-width: #{$screen-lg}) {
    @content;
    }
}

@mixin lg_desktop {
    @media (min-width: #{$screen-xl}) {
    @content;
    }
}
  
@mixin xlg_desktop {
    @media (min-width: #{$screen-xxl}) {
    @content;
    }
}

/* Ecrire les prorietes dans les selecteurs correspondants*/
    @include cel{  /* pour la aille tablet 768 px
    /* proprietes CSS   */
    }
    @include tablet{  /* pour la aille tablet 768 px
    /* proprietes CSS   */
    }
    @include desktop{
       /* proprietes CSS   */
    }
    @include lg_desktop{
       /* proprietes CSS   */
    }
    @include xlg_desktop{
       /* proprietes CSS   */
    }
