

/*####################################*\
##########  Partie team         ########
\*####################################*/
.card-team-presentation{
    font-size:2rem;
    margin-top:40px;
    padding:30px;
    
}
.card-team{
    height:500px;
    
} 
.card-lien-page{
    text-align: right;
    padding-right:20px;
    
    a{
        color: rgb(0, 0, 0);
        @include box-shadow-main;
        padding:15px;
        border-radius:25px;
    }
    
    
} 

/*####################################*\
########## FIN Partie team      ########
\*####################################*/

/*####################################*\
##########  Partie competition  ########
\*####################################*/


.card-race{
    height:600px;
}

.rotaxmax-calendar img{
    height:320px;
}
.bira-track img{
    height:320px;
}
.card-race-body{
    display:flex;
    justify-content: left;
    margin-top:20px;
    figcaption{
        text-align: center;
        font-size: 1.5rem;
        img{
            height:2rem;
            position: relative;
            top:10px;
        }
    }

}

/*####################################*\
##########  Fin Partie competition  ####
\*####################################*/

/*####################################*\
########## Partie partenaire        ####
\*####################################*/

.card-partenaires{
    height:500px;
}
.card-partenaires-body{
    display:flex;
    justify-content: space-evenly;
    margin-top:20px;
}
.partners{
    font-size:1.8rem;
    text-decoration:underline;
}
/*####################################*\
##########  Fin Partie competition  ####
\*####################################*/
