.card-team-page{
    
    height:900px;
}
.team-list{
    font-size:1.5rem;
    margin-top:2%;
    margin-left:5%;
}
.team-pictures{
    margin:20px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;

    img{
        height: 200px;
        margin:10px;
        border: solid 2px $border_color;
    }
}