
.card-team-page{
    
    height:auto;
}
.team-list{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin:5% 5%;
    font-size:1.5rem;
    
}
@media all and (max-width: 1024px)
{
    .team-list
    {
    flex-direction: column;
    }
}


.team-list-part{
    width:100%;
    margin-bottom:5%;
    li{
        line-height: 2rem;
        width:95%;
        margin-left:20px;
    }
    h3{
        font-weight: bold;
        border-radius: 15px;
        @include box-shadow-main;
        text-align: center;
        margin-right:100px;
        margin-bottom:20px;
        padding:15px;
    }
}
.team-pictures{
    margin:20px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;

    img{
        height: 200px;
        margin:10px;
        border: solid 2px $border_color;
        @include box-shadow-main;
    }
}
.video{
    margin:20px auto;
    iframe{
        border:solid 2px $border_color;
        @include box-shadow-main;
    }
}
